name: Upload JSON

on:
  push:
    branches:
      - main
    paths:
      - resources/**

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v3
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          role-session-name: SampleRoleSession
          aws-region: ${{ secrets.AWS_REGION }}
      - name: List S3 contents
        run: aws s3 ls ${{ secrets.AWS_BUCKET_PATH }}
      - name: Sync S3
        run: aws s3 sync --delete ./resources ${{ secrets.AWS_BUCKET_PATH }}
