name: Python lint

on:
  push:

  workflow_call:
    inputs:
      check-type:
        required: true
        type: string

jobs:
  check-event:
    runs-on: ubuntu-latest
    steps:
      - run: echo $event | jq
        env:
          event: ${{toJson(github.event)}}
          event_path: ${{github.event_path}}
          event_name: ${{github.event_name}}
  build:
    runs-on: ubuntu-latest
    if: github.event_name != 'workflow_call' || inputs.check-type == 'python'
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
      - name: Black
        run: make black-ci
      - name: isort
        run: make isort-ci
      - name: flake8
        run: make flake8
      - name: mypy
        run: make mypy
      - name: test
        run: pytest
      - name: Demo-JSON
        run: python json_main.py --schema_file "resources/json-schema/regions.json" --check_files "resources/json/test-region.json"
      - name: Demo-JSON-fail
        run: |
          ! python json_main.py --schema_file "resources/json-schema/regions.json" --check_files resources/json/*.json
      - name: Demo-OpenAPI
        run: |
          python openapi_main.py --schema_file "resources/openapi/openapi.yaml" --target_schema "User" --check_files "resources/json/test-openapi.json"
          python openapi_main.py --schema_file "resources/openapi/openapi.yaml" --target_schema "lunch" --check_files "resources/json/test-openapi-lunch.json"
  php:
    runs-on: ubuntu-latest
    if: github.event_name != 'workflow_call' || inputs.check-type == 'php'
    steps:
      - uses: actions/checkout@v3
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
      - run: composer install
      - name: Demo-Success
        run: php check_main.php lint "resources/json-schema/simple.json" "resources/json/test-simple.json"
      - name: Demo-fail1
        run: |
          ! php check_main.php lint "resources/json-schema/simple.json" resources/json/*.json
      - name: Demo-JSON-fail2
        run: |
          ! php check_main.php lint "resources/json-schema/regions.json" resources/json/*.json
      - name: Demo-OpenAPI1
        run: php check_main.php lint resources/openapi/openapi.yaml resources/json/test-openapi.json -t User
      - name: Demo-OpenAPI2
        run: php check_main.php lint resources/openapi/openapi.yaml resources/json/test-openapi-lunch.json -t lunch
      - name: Demo-OpenAPI-fail1
        run: |
          ! php check_main.php lint resources/openapi/openapi.yaml resources/json/test-openapi.json -t lunch

  check-updated_files:
    runs-on: ubuntu-latest
    if: github.event_name != 'workflow_call'
    timeout-minutes: 3
    steps:
      - name: Show event
        run: echo $context | jq
        env:
          context: ${{toJson(github.event)}}
      - name: Before and After
        run: |
          echo "Before: ${{github.event.before}}"
          echo "After: ${{github.event.after}}"
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check log
        run: |
          git diff ${{github.event.before}}..${{github.event.after}}
      - name: Check modified files
        run: git diff ${{github.event.before}}..${{github.event.after}} --name-only
