name: Python lint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Black
      run: make black-ci
    - name: isort
      run: make isort-ci
    - name: flake8
      run: make flake8
    - name: mypy
      run: make mypy
