name: Upload Global JSON to S3

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      target: 
        description: 'Target Environment'
        required: true
        type: choice
        options:
          - dev
          - stg
          - prod
      delete_files:
        description: 'Delete files in sync'
        type: boolean
        default: false

jobs:
  validation:
    runs-on: ubuntu-latest
    outputs:
      result: ${{steps.validation.outputs.result}}
    steps:
      - name: Do validation
        id: validation
        run: echo "result=true" >> "$GITHUB_OUTPUT"

  upload:
    runs-on: ubuntu-latest
    needs: [validation]
    if: ${{ needs.validation.outputs.result == 'true' }}
    env:
      DELETE_ARG: ${{ (github.event_name != 'push' && fromJson(inputs.delete_files)) && '-n' || '' }}
    outputs:
      target: ${{steps.target.outputs.target}}
    steps:
      - name: Check target environment
        id: target
        env:
          TARGET: >-
            ${{
              github.event_name == 'push' && 'dev' || 
              inputs.target
            }}
        run: |
          echo "$TARGET"
          echo "target=$TARGET" >> "$GITHUB_OUTPUT"
      - name: Login to AWS
        run: echo "${role_to_assume}"
        env:
          # This entries must be replaced. "with", underlines to hyphen
          role_session_name: SampleRoleSession
          aws_region: ap-northeast-1
          role_to_assume: >-
            ${{ 
              steps.target.outputs.target == 'dev' && 'DEV_ROLE' ||
              steps.target.outputs.target == 'stg' && 'STG_ROLE' ||
              steps.target.outputs.target == 'prod' && 'PROD_ROLE'
            }}
      - name: Sync
        run: | 
          echo ${{ env.DELETE_ARG }} "Hello world: "
          echo "New Line!"
  notification:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    needs: [validation, upload]
    steps:
      - uses: hkusu/slack-post-action@v1
        env:
          SLACK_APP_TOKEN: ${{secrets.SLACK_TOKEN}}
        with:
          channel: ${{secrets.SLACK_CHANNEL_ID}}
          message: '`${{needs.upload.outputs.target}}` Success! ${{github.workflow}}'
          user-name: 'GitHub Actions'
          user-icon: 'https://github.com/github.png?size=48'
          color: 'good'
          log-button: 'View log'
          report-sha: ${{github.sha}}
